apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: learnflow

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: learnflow
  app.kubernetes.io/part-of: learnflow-ai
